.cartarea{
    border: 2px solid black;
    width: 300px;
    height: 350px;
    margin: 25px;
}
.cartname{
    font-size: 30px;
    text-align: center;
    margin: 30px;
}
.cartprice{
    font-size: 25px;
    text-align: center;
}
.cartimage{
    width: 200px;
    height: 100px;
    margin: 30px;
}